*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.con{
    display: flex; width: 100%;
}
body{
     background-color: #25262a; 
     height: 100vh;
     color: #fff;
}
.main{
    background-color: #2d2f33;
    width: 100%;
    margin: auto;
    height: 70%;  
}
.sub button{
    border:  none;
    background-color: #7cf1ad;
    padding: 5px;
    width: 150px;
}
.aboutMe{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 30%;
    align-items: center;
}
.aboutMe .name span{
    color: #7cf1ad;
}
.Quicklinks{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    float: right;
} 
.services{
    width: 30%;
}
.services ul{
    text-decoration: none;
    list-style: none;
    display: flex;
}
.services ul li{
    font-size: 20px;
    padding: 50px;
}
.services ul li a{
    text-decoration: none;
    color: #fff;
}


.message{
    color: #7cf1ad;
    font-size: 20px;
}

.content{
    display: flex;
     width:100%;
     min-height:100vh;
}
.container1{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container2 h4{
    opacity: 0.8;
}
.container2 h1{
    font-size: 40px;
    padding-top: 5px;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.container2 h3{
    opacity: 0.9;
    font-size: 22px;
    
}
.container2 p{
    padding-top: 10px;
    letter-spacing: 1px;
}
.container1 .box{
    background-color: #2d2f33;
    width: 70%;
    height: 150px;
    justify-content: center;display: flex;flex-direction: column;padding-left: 30px;border-radius: 5px;
    padding-right: 40px;
    transition: all .20s ease;
    box-shadow: 0 0 10px #202023;
}
.container1 .box:hover{
    transform: scale(1.05);

}
.box h3{
    opacity: 0.8;
    padding-top: 15px;
}
.box:hover h3{
    opacity: 1;
}
.sub a{
    color: #7cf1ad;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 20px;
}
.box a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    padding-top: 30px;
    transition: 2s;
}
.box:hover a{
    opacity: 1;
    text-decoration: underline;
}
.box:hover h2,.box:hover i{
    color: #7cf1ad;
    
}
.box h2{
    transition: 1s;
}
.box i{
    transition: 1s;
}

.img .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    background-color: #25262a;
    border-radius: 50%;
    min-height: 50px;
    z-index: 10;
    box-shadow: 0 0 50px #000;
}
.img i{
    font-size: 20px;
}
.img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #25262a;
    border-radius: 50%;
    z-index: 0;
}
.icon1{
    position: absolute;
    left: 15%;
    bottom: 20%;
    width: 80px;
    height: 80px;
}
.icon2{
    position: absolute;
    bottom: 10%;
    right: 15%;
    width: 70px;
    height: 70px;
}
.icon3{
    position: absolute;
    top: 20%;

}
.img img{
    z-index: 1;
}
/* footer */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.aboutus{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;

}

footer p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;

}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.sci li a:hover{
    background-color: #f00;

}

.sci li a .fa{
    color: #fff;
    font-size: 20px;
}

.quicklinks{

    position: relative;
    width: 25%;
}
.quicklinks ul li{
    list-style: none;
}


.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}


.quicklinks ul li a:hover{
    color: #fff;

}

.contact{
    width: calc(35% -60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
    margin-bottom: 16px;

}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li{
    list-style: none;
}

.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover{
    color: #fff;
}
.copyright{
    width: 100%;
    background-color: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;

}

@media(max-width:991px){
    footer{
        padding: 40px;
    }
    footer .container
    {
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.sec.aboutus,.quicklinks,.contact{
        width: 100%;
    }
    .copyright{
        padding: 8px 40px;
    }
    .content{
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content .container1,.content .container2{
        height: 100vh;
    }

}

